<h1>Markdown Editor with Rails and StimulusJS</h1>

<div class="editor" data-controller=markdown>
  <textarea id="editor" data-action="input->markdown#convertToMarkdown"></textarea>
  <div class="viewer" data-target="markdown.viewer"></div>
</div>
